﻿body{
    margin:0;
    padding:0;
    height:210;
    width:200;
}
#signage{
    font-family:Helvetica;
    height:700px;
    padding:5px;
}
#no-route,#no-buses{
    text-align:center;
    color:white;
    font-size:x-large;
}
#number{
    color:white;
    font-size:x-large;
    font-weight:bold;
    float:left;
    margin:0 10px;
}
#route{
    font-size:x-small;
    color:white;
    height:42px;
}
#details{
    margin-top:5px;
    position:relative;
}
#name{
    height:17px;
    position:absolute;
    font-weight:bold;
    overflow:hidden;
}
#direction{
    position:absolute;
    top:15px;
}
#buses {
    height:139px;
}
#signage .bus {
    zoom: 1;
    height:25px;
    margin:4px 5px;
    clear:both;
    border-bottom:1px solid grey;
}
#signage .bus .eta{
    font-size:large;
    font-weight:bold;
    float:left;
}
#signage .bus .eta .unit{
    font-size:small;
}
#signage .bus .destination{
    float:right;
    font-weight:bold;
    font-size:xx-small;
}
#signage .bus .stop,
#signage .bus .bus-number{
    font-weight:bold;
}
#status{
    font-size:x-small;
    color:white;
    margin:3px 10px;
}
#timer{
    position:absolute;
    right:15px;
}
#message a{
    color:white;
    font-weight:bold;
}
#select-stop{
    position:absolute;
    left:80px;
    top:-7px;
}
#paused{
    zoom: 1; 
    font-weight:bold;
    display:none;
    position:absolute;
    left:35px;
    top:50px;
    cursor:pointer;
    text-align:center;
    width:128px;
}
#paused a{
    text-decoration:none;
    color:white;
    display:block;
    margin-top:11px;
}